<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Form</title>
</head>
<link rel="stylesheet" th:href="@{/css/mail.css}">
<body>

<div class="transactionForm" id="transactionForm">
    <h2><label>TRANSACTION</label></h2>
    <form action="/processForm" method="post">

        <div>
            <h3><label class="recipient" for="recipient">Email Recipient</label></h3>
            <input type="text" name="recipient" id="recipient" required autocomplete="off" value="rockyrocky123.7@gmail.com">
        </div>
        <div>
            <h3><label class="subject" for="subject">Subject</label></h3>
            <input type="text" name="subject" id="subject" autocomplete="off" value="ads">
        </div>
        <div>
            <h3><label class="body" for="body">Email Body</label></h3>
            <input type="text" name="body" id="body" required autocomplete="off" value="wedrwsafd">
        </div>

        <button>SUBMIT</button>
    </form>
</div>

</body>
</html>
